{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>交通标识识别系统</title>
  <link rel="stylesheet" href="{% static 'detect/comment.css'%}">
  <link rel="stylesheet" href="{% static 'detect/navigation.css'%}">
  <style>
    img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
  </style>
</head>
<body>
  <!-- 导航栏 -->
  <div class="top">
    <div class="wrapper">
      <div class="logo">
        <!-- 首页 -->
        <h1><a href="#">交通标识识别系统</a></h1>
      </div>
      <div class="middle">
        <div class="txt">
          <span class="title"><a href="#" class="active">现场画面</a></span>
        </div>
      </div>
    </div>
  </div>
   <!-- 显示视频流 -->
    <img src="http://127.0.0.1:8000/detect/output/">
</body>
</html>
